<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    
    <!-- firebase to be able to use it as a backend -->
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    
    <!-- angular fire to be able to interact with firebase -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>

    
    <!-- firebase simple login library -->
    <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>

  </head>
  <body ng-app="loginchat">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">hcn ionic blank starter</h1>
      </ion-header-bar>
      <ion-content ng-controller="chatController">
        <!-- login form -->
        
          <div class="list list-inset">
          <!--
                <label class="item item-input">
                <input type="email" placeholder="Email">
                </label>
                <label class="item item-input">
                <input type="password" placeholder="password">
                </label>
                 <button class="button button-block button-positive" type="Submit">
                Submit
                </button> -->
<div ng-controller="chatController" >
 <p>Name : <input type="text" ng-model="newmessage.user"></p>
 <p>Message :<input type="text" ng-model="newmessage.text"></p>
 <button ng-click="inserisci(newmessage)">Submit</button>
 
  	<ul>
  		<li ng-repeat="message in messages">
  			{{message.user}} says :{{message.text}}
  		</li>
  	</ul>
</div>
 

                    
        </div>
        <!-- end of login form -->

    
      </ion-content>
    </ion-pane>
  </body>
</html>
